<p id="bienvenue">Bienvenue @User.Identity.Name</p>
<div id="logo_content">
   <a class="notif_logo" href="@Url.Content("/Account/Notifications/")"></a><a href="@Url.Content("/Account/Notifications/")"><span class="float-left" style="margin-right: 40px;padding-top: 15px;margin-left: 2px;">(@ConcertFinderMVC.BusinessManagement.Notification.Checks(User.Identity.Name))</span></a>
   <a class="parametre_logo" href="@Url.Content("/Account/Parameter/")"></a>
   <a class="logout_logo" href="@Url.Content("/Account/LogOut/")"></a>
   <div class="clear"></div>
</div>


