          
<!DOCTYPE html>
<html>
<head>
    <title>Concert Finder</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui-1.8.20.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.custom.min.js")" type="text/javascript"></script>



    @RenderSection("Header", false)
</head>
<body>
    <header>
        <div id="banniere">
            <div class="center">
                <strong id="concertfinder">Concert Finder</strong>
               <div id="connect" class="float-right">
                    @if (!Request.IsAuthenticated)
                    {
                        <div id="open_connect" >se connecter</div>
                        <div id="connect_panel">
                            @Html.Partial("_logOn", new ConcertFinderMVC.Models.LogOnModel())
                        </div>
                    }
                    else
                    {
                         <div id="connect_panel">
                            @Html.Partial("_accountPanel", new ConcertFinderMVC.Models.LogOnModel())
                        </div>
                    }
               </div>

            </div>
        </div>
        <div id="menu">
            <div id="menu_content">
                 <img src="@Url.Content("~/Content/Images/nav-left.png")" alt="menu_left_corner" id="menu_left_corner" class="float-left"/>
                 <ul class="float-left">
                   <li class="float-left">@Html.ActionLink("Tous les événements", "Index", "Event")</li>
                   <li class="float-left">@Html.ActionLink("Concerts", "Concert", "Event")</li>
                   <li class="float-left">@Html.ActionLink("Spectacles", "Spectacle", "Event")</li>
                   <li class="float-left">@Html.ActionLink("Festivals", "Festival", "Event")</li>
                   
                   @if (User.Identity.IsAuthenticated)
                   {
                        <li class="float-left">@Html.ActionLink("Mes évènements", "MyEvents", "Event")</li>
                        <li class="float-left">@Html.ActionLink("Ajouter un événement", "CreateEvent", "Event")</li>
                        <li class="float-left">@Html.ActionLink("Administration utilisateur", "ManageUser", "Admin")</li>
                        <li class="float-left">@Html.ActionLink("Moderaiton", "NotValidEvent", "Admin")</li>                      
                   }
                  </ul>
                  <img src="@Url.Content("~/Content/Images/nav-right.png")" alt="menu_right_corner" class="float-left"/>
             </div>
        </div>
    </header>
    <section class="page">
        @RenderBody()
    </section>
    <section id="footer">
        <div class="footer_content">
            <div class="footerline"></div>
        </div>
    </section>
</html>
@RenderSection("Script", false)



<script type="text/javascript">

    $(document).ready(function () {
        $("#open_connect").click(function () {
            $("#connect_panel").toggle('blind', null, 500);
        });
     });

</script>