@model ConcertFinderMVC.Models.LogOnModel

@using (Html.BeginForm("LogOn", "Account","POST"))
{
    @Html.AntiForgeryToken()
    <div>
        <span class="connexion_lbl float-left">
            @Html.LabelFor(m => m.Pseudo)
        </span>
        <span class="connexion_form float-right">
            @Html.TextBoxFor(m => m.Pseudo)
            @Html.ValidationMessageFor(m => m.Pseudo)
        </span>
        <span class=clear></span>
    </div>
    
    <div>
        <span class="connexion_lbl float-left">
            @Html.LabelFor(m => m.Password)
        </span>
        <span class="connexion_form float-right">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </span>
        <span class=clear></span>
    </div>
     <div>
        <div class="float-left">
            <span>
                @Html.LabelFor(x => x.RemembreMe)
            </span>
            <span>
                @Html.CheckBoxFor(x => x.RemembreMe)
            </span>
        </div>
        <div class="float-left">
            @Html.ActionLink("Mot de passe oublié", "ForgottenPassword", "Account")
        </div>
        <div class="float-right">
            <input type="submit" value="Connexion" />
        </div>
        <div>
            @Html.ActionLink("S'inscrire", "Register", "Account")
        </div>
        <div class="clear"></div>
    </div>
    
}