@model ConcertFinderMVC.Models.FormEventModels

@section Header
{
    <link href=@Url.Content("~/Content/Formulaire.css") rel="Stylesheet" type="text/css">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBm8CQjlFqdYRoa3Am16rtSsAiIpdhL_nw&sensor=false"></script>
}
<div class="main">
    <div class="section_title">Creation d'evenement</div>
@using (Html.BeginForm("CreateEvent", "Event", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(x => x.Latitude);
    @Html.HiddenFor(x => x.Longitude);
                                    
    <div>
        <div class="text_lbl ">
            @Html.LabelFor(m => m.Title)
        </div>
        <div class="text_input ">
            @Html.TextBoxFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    
    <div>
        <div class="text_lbl">
            @Html.LabelFor(m => m.Type)
        </div>
        <div class="text_input">
        @Html.DropDownListFor(x => x.Type, Model.Types)
        </div>
    </div>
    
    <div>
        <div class="text_lbl ">
            @Html.LabelFor(m => m.StartDate)
        </div>
        <div class="text_input ">
            @Html.TextBoxFor(m => m.StartDate, new { id = "startDate" })
            @Html.ValidationMessageFor(m => m.StartDate)
        </div>
    </div>
    
    <div>
        <div class="text_lbl ">
            @Html.LabelFor(m => m.EndDate)
        </div>
        <div class="text_input ">
            @Html.TextBoxFor(m => m.EndDate, new { id = "endDate" })
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>
    </div>
    
    <div>
        <div class="text_lbl ">
            @Html.LabelFor(m => m.Description)
        </div>
        <div class="text_input">
            @Html.TextAreaFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
    <div>
        <div class="text_lbl ">
            @Html.LabelFor(m => m.Image)
        </div>
        <div class="text_input ">
            <input type="file" id="FileImage" name="FileImage" />
        </div>
    </div>
    
    <div>
        <div class="text_lbl ">
            @Html.LabelFor(m => m.Tags)
        </div>
        <div class="text_input ">
            @Html.TextBoxFor(m => m.Tags)
            @Html.ValidationMessageFor(m => m.Tags)
        </div>
    </div>
    
    <div>
        <div class="text_lbl ">
            @Html.LabelFor(m => m.Country)
        </div>
        <div class="text_input ">
            @Html.TextBoxFor(m => m.Country, new { id = "country" })
            @Html.ValidationMessageFor(m => m.Country)
        </div>
    </div>
    
    <div>
        <div class="text_lbl ">
            @Html.LabelFor(m => m.City)
        </div>
        <div class="text_input ">
            @Html.TextBoxFor(m => m.City, new { id = "city" })
            @Html.ValidationMessageFor(m => m.City)
        </div>
    </div>
    
    <div>
        <div class="text_lbl ">
            @Html.LabelFor(m => m.CodePostal)
        </div>
        <div class="text_input ">
            @Html.TextBoxFor(m => m.CodePostal, new { id = "code_postal" })
            @Html.ValidationMessageFor(m => m.CodePostal)
        </div>
    </div>
    
    <div class="clear">
        <div class="text_lbl ">
            @Html.LabelFor(m => m.Address)
        </div>
        <div class="text_input ">
            @Html.TextBoxFor(m => m.Address, new { id = "address" })
            @Html.ValidationMessageFor(m => m.Address)
        </div>
    </div>
    
    <div>
        <div class="text_lbl ">
            @Html.LabelFor(m => m.RoomName)
        </div>
        <div class="text_input ">
            @Html.TextBoxFor(m => m.RoomName)
            @Html.ValidationMessageFor(m => m.RoomName)
        </div>
    </div>
    
    <div>
        <div class="text_lbl ">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="text_input ">
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    
    <div>
        <div class="text_lbl ">
            @Html.LabelFor(m => m.Phone)
        </div>
        <div class="text_input ">
            @Html.TextBoxFor(m => m.Phone)
            @Html.ValidationMessageFor(m => m.Phone)
        </div>
    </div>
    
    <div>
        <div class="text_lbl ">
            @Html.LabelFor(m => m.Website)
        </div>
        <div class="text_input ">
            @Html.TextBoxFor(m => m.Website)
            @Html.ValidationMessageFor(m => m.Website)
        </div>
    </div>
    
     <div class="clear">
        <div class="submit">
            <input type="submit" value="Valider" />
        </div>
    </div>
    <div class="clear"></div>
}
</div>
@section Script
{
    <script type="text/javascript">

        function getLatLong(address) {
            var geo = new google.maps.Geocoder;
            geo.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var latlong = results[0].geometry.location
                    $("input#Latitude").val((latlong.lat()+"").replace(".", ","));
                    $("input#Longitude").val((latlong.lng()+"").replace(".", ","));
                    return results[0].geometry.location;
                }
                else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        };


        $("input#address, input#city, input#code_postal, input#country").focusout(function () {
            if ($("input#address").val() != "" && $("input#city").val() != "" && $("input#code_postal").val() != "" && $("input#country").val() != "") {
                var address = $("input#address").val() + "," + $("input#city").val() + "," + $("input#code_postal").val() + "," + $("input#country").val();
                var latlong = getLatLong(address);
            }
        });

        $("#startDate, #endDate").datepicker({
            monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet',
                            'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            monthNamesShort: ['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Jun',
                                'Jul', 'Aoû', 'Sep', 'Oct', 'Nov', 'Déc'],
            dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi',
                        'Jeudi', 'Vendredi', 'Samedi'],
            dayNamesMin: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            dateFormat: "dd/mm/yy",
            showOtherMonths: true,
            selectOtherMonths: true,
            showAnim: "fold"
        });

      </script>
}