@model ConcertFinderMVC.Models.EventDetail

@section Header
{
    <link href="@Url.Content("~/Content/Detail.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/_SimilarEvents.css")" rel="stylesheet" type="text/css" />
}

<div class="main float-left">
    <em class="float-left">
        @Model.Item.Ville (@Model.Item.CP.Substring(0, 2))
    </em>
    <em class="float-right">
        @Model.Item.StartDate.ToShortDateString() @Model.Item.StartDate.ToShortTimeString()
    </em>
    <strong id="title_salle">
         @Model.Item.Salle
    </strong>
    <p class="clear" id="event_title">
        @Model.Item.Titre
    </p>

    <!-- Description et flyers-->
    @if (Model.Item.Image != null)
    {
        <img class="float-left" id="flyers" src="@Url.Content("/")@Model.Item.Image" alt="flyers" />
    }
    else
    {
        <img class="float-left" id="flyers" src="@Url.Content("~/Content/Images/no_image.png")" alt="flyers" />
    }
    <strong class="type">@Model.Item.Type</strong>
    <p lang="text" class="item_descr">
        @Model.Item.Description
    </p>
    <div class="clear"></div>
    <p class="clear salle_margin">
        <strong > Salle : </strong>  @Model.Item.Salle
    </p>
    <p>
        <strong> Adresse: </strong> <em>@Model.Item.Rue  @Model.Item.Ville, @Model.Item.CP @Model.Item.Pays</em>
    </p>
     @if (Model.Item.Website != null && Model.Item.Website != "")
     {
        <p>
           <strong>Site Web :</strong>  <a href="@Model.Item.Website">@Model.Item.Website</a>
        </p>
     }
     @if (Model.Item.Email != null && Model.Item.Email != "")
     {        
        <p>
            <strong >Email :</strong>  @Model.Item.Email
        </p>
     }
     @if (Model.Item.Tel != null && Model.Item.Tel != "")
     {   
        <p>
            <strong>Tel :</strong> @Model.Item.Tel
        </p>
     }
    <div class="tag_list">
        <strong>Tags:</strong>
        @foreach (var tag in Model.Item.TagList)
        {
            <em class="tag">
                @tag
            </em>
        }
    </div>

    
    <div>
        @if (User.Identity.IsAuthenticated)
        {

            if ((User.Identity.IsAuthenticated) && (ConcertFinderMVC.BusinessManagement.Tool.CreatedByMe(User.Identity.Name, Model.Item.Id) ||
                ConcertFinderMVC.BusinessManagement.Tool.IsAdmin(User.Identity.Name) ||
                ConcertFinderMVC.BusinessManagement.Tool.IsModerator(User.Identity.Name)))
            {
                    <div id="edit_button" class="custom_button float-right">
                        @Html.ActionLink("Editer", "CreateEvent", "Event", new { id = Model.Item.Id }, null)
                    </div>
            }

            if (!Model.Item.Valide && (ConcertFinderMVC.BusinessManagement.Tool.IsAdmin(User.Identity.Name) ||
                ConcertFinderMVC.BusinessManagement.Tool.IsModerator(User.Identity.Name)))
            {
                     <div id="refuse_button" class="custom_button float-right">
                        @Html.ActionLink("Refuser", "DenyEvent", "Admin", new { idevent = Model.Item.Id }, null)
                    </div> 
                    <div id="accept_button" class="custom_button float-right">
                        @Html.ActionLink("Accepter", "ValideEvent", "Event", new { idevent = Model.Item.Id }, null)
                    </div>

            }
        }
    </div>
    <div class="clear"></div>
    <div  class="clear" id="visualiser" >Visualiser l'évenement sur la map</div>
    <div class="float-right" id="map">
    </div>
    <div class="clear"></div>
    <a id="direction" class="custom_button float-right"> Calculer mon itinéraire </a>

</div>
<div class="float-right">
        @Html.Partial("_SimilarEvents", Model.Events)
</div>

@section Script
{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBm8CQjlFqdYRoa3Am16rtSsAiIpdhL_nw&sensor=true"></script>
    <script src="@Url.Content("~/Scripts/Detail.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var latitude = @Model.Item.Latitude.ToString().Replace(',', '.');
        var longitude = @Model.Item.Longitude.ToString().Replace(',', '.');
        var salle = "@Model.Item.Salle";
    </script>
}