@model ConcertFinderMVC.Models.EventItem

<div>
    @Model.Titre
</div>
<div>
    @Model.StartDate
</div>
<div>
    @Model.Description
</div>
<div>
    @Model.Rue, @Model.Ville, @Model.CP, @Model.Pays
</div>
<div>
    @Model.Salle
</div>