@model ConcertFinderMVC.Models.EventItem

@section Header
{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBm8CQjlFqdYRoa3Am16rtSsAiIpdhL_nw&sensor=false"></script>
}

<div>
    @Model.Titre
</div>
<div>
    @Model.StartDate
</div>
<div>
    @Model.Description
</div>
<div>
    @Model.Rue, @Model.Ville, @Model.CP, @Model.Pays
</div>
<div>
    @Model.Salle
</div>

<div id="map" style="width:400px; height:400px;">
</div>

@section Script
{
    <script type="text/javascript">

        function initialize() {
            var myLatlng = new google.maps.LatLng(@Model.Longitude.ToString().Replace(',', '.'), @Model.Latitude.ToString().Replace(',', '.'));
            var myOptions = {
                zoom: 15,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(document.getElementById("map"), myOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: "@Model.Salle"
            });
        }

        initialize();

    </script>
}