@model ConcertFinderMVC.Models.EventsList
@model ConcertFinderMVC.Models.LogOnModel

<h2>Tous les événements :</h2>

@foreach (ConcertFinderMVC.Models.EventItem item in Model.Events)
{
    <div class="item">
        <div class="picture">
        </div>
        <div class="content">
            <p>
                <span>@item.Type</span>
                <span>@item.Salle</span>
                <span>Adresse</span>
            </p>
            <p>
                <span>@item.Titre</span>
                <span>@item.StartDate</span>
            </p>
            <p>@item.Description</p>
        </div>
    </div>
}

@Html.Partial("_LastAdded", Model.Last)