@model ConcertFinderMVC.Models.EventsList

@section Header
{
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/_LastAdded.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/dateformat.js")" type="text/javascript"></script>
}

@section Search
{
    <li class="float-right">
        <input type="search" id="SearchBar" placeholder="Rechercher ..." />
    </li>
}

<div class="main float-left">
    <div class="section_title float-left">@ViewBag.page_title</div>
    <ul id="items"  class="clear">
    @foreach (ConcertFinderMVC.Models.EventItem item in Model.Events)
    {   
        <li class="item" id="@item.Id">
            <a href='@Url.Content("/Event/Detail/" + item.Id)'> 
                @if (item.Image != null)
                {
                    <!--<img src="@@Url.Content("/ConcertFinderMVC/")@@item.Image" width="125" height="160" alt="flyers" class="flyers float-left" />-->
                    <img src="@Url.Content("/")@item.Image" width="125" height="160" alt="flyers" class="flyers float-left" />
                }
                else
                {
                    <img src="@Url.Content("~/Content/Images/no_avatar.gif")" width="125" height="160" alt="flyers" class="flyers float-left" />
                }
                <strong class="item_titre">@item.Titre</strong>
                <span class="item_type float-left">@item.Type</span>
                <span class="item_Date float-right">@item.StartDate.ToShortDateString() à @item.Ville (@item.CP.Substring(0, 2))</span>
                <span class="item_salle">@item.Salle</span>
                <em class="item_descr">
                    @ConcertFinderMVC.BusinessManagement.Tool.Truncate(item.Description)
                </em>  
            </a>
        </li>
        
    }
    </ul>
</div>
<div class="float-right">
        @Html.Partial("_LastAdded", Model.Last)
</div>
<div class="clear"></div>

@section Script
{
    <script type="text/javascript">

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                var url = document.URL.split("//");
                url = (url[1] ? url[1] : url[0]).split("/");
                var qtype = "";
                if (url.length > 2)
                {
                    qtype = url[2];
                }
                var id = $(".item:last").attr("id");
                $.ajax({
                    url: "http://"+url[0]+"/Event/GetNextEvents",//"http://"+url[0]+"/ConcertFinderMVC/Event/GetNextEvents",
                    data: { last_id: id, type : qtype },
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {

                            var text = "<a href='/Event/Detail/" + data[i].Id + "'>"+
                                            "<li class='item' id='"+ data[i].Id +"'>";
                            if (data[i].Image != null) {
                                // text += "<img src="+"@@Url.Content("/ConcertFinderMVC/")"+data[i].Image+" width='125' height='160' alt='flyers' class='flyers float-left' />";
                                text += "<img src="+"@Url.Content("/")"+data[i].Image+" width='125' height='160' alt='flyers' class='flyers float-left' />";
                            }
                            else {
                                text += "<img src='"+"@Url.Content("~/Content/Images/no_avatar.gif")"+"' width='125' height='160' alt='flyers' class='flyers float-left' />";
                            }

                            var milli = data[i].StartDate.replace(/\/Date\((-?\d+)\)\//, '$1');
                            var d = new Date(parseInt(milli));

                            text += "<strong class='item_titre'>" + data[i].Titre + "</strong>" +
                                "<span class='item_type float-left'>" + data[i].Type + "</span>" +
                                "<span class='item_Date float-right'>" + dateFormat(d, "dd/mm/yyyy") + "<br />à " + data[i].Ville + " (" + data[i].CP + ")</span>" +
                                "<span class='item_salle'>" + data[i].Salle + "</span>"+
                                "<em class='item_descr'>" +
                                    data[i].Description +
                                "</em>" +
                            "</li>" +
                            "</a>";

                            $("#items").append(text);
                        }
                    },
                    dataType: "json"
                });
            }
        });

    </script>
}