@model List<ConcertFinderMVC.Models.NotificationItem>

@foreach (ConcertFinderMVC.Models.NotificationItem item in Model)
{
    <div>
        @item.Titre
    </div>
    <div>
        @item.Date
    </div>
    <div>
        @item.Message
    </div> 
    
    @Html.ActionLink("Voir l'evenement", "Detail", "Event", new { id = @item.IdEvent, creation = true}, null)
}