@model List<ConcertFinderMVC.Models.NotificationItem>

@section Header
{
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/dateformat.js")" type="text/javascript"></script>
}

<div class="main float-left">
    <div class="section_title float-left">Mes Notifications</div>
    <ul id="notifs">
    @foreach (ConcertFinderMVC.Models.NotificationItem item in Model)
    {
        <li class="notif" id="@item.Id">
            <strong>@item.Titre</strong>
            <span>@item.Date</span>
            <p>@item.Message</p> 
    
            @if (item.Titre != "Statut")
            {
                @Html.ActionLink("Voir l'evenement", "Detail", "Event", new { id = item.IdEvent, creation = true }, null);
            }
        </li>
    }
    </ul>
</div>

@section Script
{
    <script src="@Url.Content("~/Scripts/Notifications.js")" type="text/javascript"></script>
}