@model ConcertFinderMVC.Models.ParameterModel


<div class="main">
    <div class="section_title">Mes paramètres</div>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        <span class="connexion_lbl ">
            @Html.LabelFor(m => m.OldPassword)
        </span>
        <span class="connexion_form ">
            @Html.TextBoxFor(m => m.OldPassword)
            @Html.ValidationMessageFor(m => m.OldPassword)
        </span>
    </div>
    
    <div>
        <span class="connexion_lbl ">
            @Html.LabelFor(m => m.NewPassword)
        </span>
        <span class="connexion_form ">
            @Html.TextBoxFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </span>
    </div>
    
    <div>
        <span class="connexion_lbl ">
            @Html.LabelFor(m => m.ConfirmPassword)
        </span>
        <span class="connexion_form ">
            @Html.TextBoxFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </span>
    </div>
    
    <div>
        <input type="submit" value="Envoyer" />
    </div>
}
</div>