@model ConcertFinderMVC.Models.RegisterModel

<head>
    <link href=@Url.Content("~/Content/Formulaire.css") rel="stylesheet" type="text/css"/>
</head>

<div class="main">
    <div class="section_title float-left">Inscription</div>
        <div class="clear"></div>
@using (Html.BeginForm("Register", "Account", null, FormMethod.Post, new {id="create_user"}))
{
    
    @Html.AntiForgeryToken()

            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
            @Html.LabelFor(m => m.Firstname)
            @Html.TextBoxFor(m => m.Firstname)
            @Html.ValidationMessageFor(m => m.Firstname)
            @Html.LabelFor(m => m.Pseudo)
            @Html.TextBoxFor(m => m.Pseudo)
            @Html.ValidationMessageFor(m => m.Pseudo)
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City)
            @Html.ValidationMessageFor(m => m.City)
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
            @Html.LabelFor(m => m.Tags)
            @Html.TextBoxFor(m => m.Tags)
            @Html.ValidationMessageFor(m => m.Tags)
            <input type="submit" value="S'inscrire" />

}

</div>