@model ConcertFinderMVC.Models.AdminModels

@section Header
{
     <link href="@Url.Content("~/Content/Admin.css")" rel="stylesheet" type="text/css" />
}

<div class="main">
    <div class="section_title float-left">Administration</div>

    <div class="clear">
        <h3>Liste des utilisateurs</h3>
        <table>
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prenom</td>
                    <td>Pseudo</td>
                    <td>Email</td>
                    <td>Ville</td>
                    <td>Statut</td>
                    <td></td>
                </tr>
            </thead>
            <tbody id="users">
                @foreach (var user in Model.listUser)
                {
                    if (!user.Deleted)
                    {
                        <tr id="@user.Id">
                            <td>@user.Name</td>
                            <td>@user.FirstName</td>
                            <td>@user.Login</td>
                            <td>@user.Mail</td>
                            <td>@user.City</td>
                            <td>
                                @{ var att_id = "role_" + user.Id; }
                                <select id='@att_id'>
                                    <option>
                                        @user.Role
                                    </option>
                                    @foreach (string post in Model.listPost)
                                    {
                                        if (!user.Role.Equals(post))
                                        {
                                            <option>@post</option>
                                        }
                                    }                            
                                </select>
                            </td>
                            <td>@Html.ActionLink("Supprimer", "BlockUser", "Admin", new {Id = user.Id}, null)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section Script
{
    <script src="@Url.Content("~/Scripts/AdminUser.js")" type="text/javascript"></script>
}