@model ConcertFinderMVC.Models.AdminModels

@section Header
{
     <link href="@Url.Content("~/Content/Admin.css")" rel="stylesheet" type="text/css" />
}

<div class="main">
    <div class="section_title">Administration</div>

    <ul id="menu_onglet">
        <li id="onglet">@Html.ActionLink("Gerer les événements", "NotValidEvent", "Admin")</li>
    </ul>

    <section>
        <h3>Liste des utilisateurs</h3>
        <table>
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prenom</td>
                    <td>Pseudo</td>
                    <td>Email</td>
                    <td>Ville</td>
                    <td>Statut</td>
                    <td></td>
                </tr>
            </thead>
            <tbody id="users">
                @foreach (var user in Model.listUser)
                {
                    if (!user.Deleted)
                    {
                        <tr id="@user.Id">
                            <td>@user.Name</td>
                            <td>@user.FirstName</td>
                            <td>@user.Login</td>
                            <td>@user.Mail</td>
                            <td>@user.City</td>
                            <td>
                                @{ var att_id = "role_" + user.Id; }
                                <select id='@att_id'>
                                    <option>
                                        @user.Role
                                    </option>
                                    @foreach (string post in Model.listPost)
                                    {
                                        if (!user.Role.Equals(post))
                                        {
                                            <option>@post</option>
                                        }
                                    }                            
                                </select>
                            </td>
                            <td>@Html.ActionLink("Supprimer", "BlockUser", "Admin", new {Id = user.Id}, null)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </section>
</div>

@section Script
{
    <script type="text/javascript">

        $("select").change(function () {
            var select_id = "#" + $(this).attr("id");
            var new_role = $(select_id + " option:selected").text();
            var splitted = select_id.split('_');
            var id_user = splitted[1];

            $.post("/Admin/ChangeRole", { id: id_user, role: new_role });
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                var url = document.URL.split("//");
                url = (url[1] ? url[1] : url[0]).split("/");
                var id = $("#users tr:last").attr("id");
                $.ajax({
                    url: "http://" + url[0] + "/Admin/GetNextUsers", //"http://"+url[0]+"/ConcertFinderMVC/Admin/GetNextUsers",
                    data: { last_id: id },
                    success: function (data) {
                        var text = "";
                        for (var i = 0; i < data.length; i++) {
                            text += "<tr id='"+data[i].Id+"'>" +
                                "<td>" + data[i].Name + "</td>" +
                                "<td>" + data[i].FirstName + "</td>" +
                                "<td>" + data[i].Login + "</td>" +
                                "<td>" + data[i].Mail + "</td>" +
                                "<td>" + data[i].City + "</td>" +
                                "<td>" +
                                    "<select>" +
                                        "<option>" + data[i].Role + "</option>" +
                                        "<option>Moderateur</option>" +
                                        "<option>Administrateur</option>" +
                                    "</select>" +
                                "</td>" +
                                "<td><a href='http://"+url[0]+"/Admin/BlockUser/"+data[i].Id+"'>Supprimer</a></td>" +
                            "</tr>";
                        }
                        $("#users").append(text);
                    },
                    dataType: "json"
                });
            }
        });

    </script>
}