@model ConcertFinderMVC.Models.AdminModels

@{
    ViewBag.Title = "AdminEvent";
}

<h2>AdminEvent</h2>
    @if (Model.User.Role.Equals(ConcertFinderMVC.Models.UserModel.GetRoleType((int)ConcertFinderMVC.Models.eRole.Admin)))
    {
        <ul>
                    <li>@Html.ActionLink("Gerer les utlisateurs", "ManageUser", "Admin")</li>
        </ul>
    }
 <section>
    <ul id="onglet">
        <li>@Html.ActionLink("Evenement valide", "ValidEvent", "Admin")</li>
        <li>@Html.ActionLink("Evenement en attente", "NotValidEvent", "Admin")</li>
    </ul>

    <ul id="content_list">
        @foreach (ConcertFinderMVC.Models.EventItem eve in Model.listEvent)
        {
            <li>
                <img src="@eve.Image" alt="Image descriptive"/>
                <span>@eve.Type</span>
                <span>Salle :<strong>@eve.Salle</strong></span>
                <em>@eve.Ville, @eve.CP, @eve.Rue</em>
                <br/>
                <strong>@eve.Titre</strong>
                <strong>@eve.StartDate</strong>
                <br/>
                <span>@eve.Description</span>
                <br />
                <span>@eve.Website</span>
                <br/>
                <a href="#">@eve.Website</a>
                @Html.ActionLink("Verifier la validite", "Detail", "Event", new { id = @eve.Id, creation = true }, null)
            </li>
        }
    <ul>
</section>