@model ConcertFinderMVC.Models.ForbidForm

@{
    ViewBag.Title = "ForbidEvent";
}

<h2>Refus</h2>

@using (Html.BeginForm("DenyEvent", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.IdEvent)

    <h2>@Html.LabelFor(t => t.Title)</h2>
    <div>
        @Html.TextBoxFor(t => t.Title)
    </div>
    <h2>@Html.LabelFor(r => r.reason)</h2>
    <div>
        @Html.TextAreaFor(r => r.reason)
    </div>
     <input type="submit" value="Envoyer" />
}