@model ConcertFinderMVC.Models.ForbidForm

<head>
    <link href="@Url.Content("~/Content/Formulaire.css")" rel="Stylesheet" type="text/css" />
</head>

<div class="main">
    <div class="section_title">Refus</div>
@using (Html.BeginForm("DenyEvent", "Admin", FormMethod.Post, new { id= "deny_event" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.IdEvent)

    @Html.LabelFor(t => t.Title)
 
    @Html.TextBoxFor(t => t.Title)
  
    @Html.LabelFor(r => r.reason)
    
    @Html.TextAreaFor(r => r.reason)
   
     <input class="submit" type="submit" value="Envoyer" />
}

</div>