@model ConcertFinderMVC.Models.ForbidForm

<head>
    <link href="@Url.Content("~/Content/Formulaire.css")" rel="Stylesheet" type="text/css" />
</head>

<div class="main">
    <div class="section_title">Refus</div>
@using (Html.BeginForm("DenyEvent", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.IdEvent)

    <h2 class="text_lbl">@Html.LabelFor(t => t.Title)</h2>
    <div class="text_input">
        @Html.TextBoxFor(t => t.Title)
    </div>
    <h2 class="text_lbl">@Html.LabelFor(r => r.reason)</h2>
    <div class="text_input">
        @Html.TextAreaFor(r => r.reason)
    </div>
     <input class="submit" type="submit" value="Envoyer" />
}

</div>